<!--<form action="">
  <div class="userData">
    <lable for="name">Имя<span style="color:red; opacity:0.4">*</span>:</lable>
    <input type="text" name="nameComment" id="name">
    <lable for="email">Email<span style="color:red; opacity:0.4">*</span>:</lable>
    <input type="text" name="emailComment" id="email">
  </div>
  <div class="usetText">
    <textarea name="textComment" id="text"></textarea>
    <button type="submit">Прокомментировать</button>
  </div>
</form>-->

<%= form_for [@cartoon, @comment] do |f| %>
    <div class="userData">
      <%= f.label :name do %>
          Имя<span style="color:red; opacity:0.4">*</span>:
      <%end%>
      <%= f.text_field :name %>

      <%= f.label :email do %>
          Email<span style="color:red; opacity:0.4">*</span>:
      <%end%>
      <%= f.text_field :email %>
    </div>
    <div class="usetText">
      <%= f.text_area :body %>
      <%= button_tag 'Прокомментировать', :type => :submit%>
    </div>
<% end %>