<div class="row">
  <div class="container">
    <div class="catalog">
      <h2>Популярные мультфильмы</h2>
      <div class="items col-lg-12">
        <%@random_cartoons.each do |cartoon|%>
            <%=link_to category_cartoon_path(cartoon.category,cartoon) do%>
            <div class="item" style="background-image: url(<%=image_url(cartoon.preview)%>);">
              <div class="info">
                <p><%=cartoon.title%></p>
                <ul>
                  <li><%=image_tag(image_url('see.png'))%> <%=cartoon.views%></li>
                  <li><%=image_tag(image_url('star.png'))%> <%=cartoon.rating.value.to_s%></li>
                  <li><%=image_tag(image_url('talk.png'))%> <%=cartoon.comments.size.to_s%></li>
                </ul>
              </div>
            </div>
            <%end%>
        <%end%>
      </div>
    </div>
    <div class="catalog">
      <h2>Популярные мультсериалы</h2>
      <div class="items col-lg-12">
        <%@random_animated.each do |cartoon|%>
            <%=link_to category_cartoon_path(cartoon.category,cartoon) do%>
            <div class="item" style="background-image: url(<%=image_url(cartoon.preview)%>);">
              <div class="info">
                <p><%=cartoon.title%></p>
                <ul>
                  <li><%=image_tag(image_url('see.png'))%> <%=cartoon.views%></li>
                  <li><%=image_tag(image_url('star.png'))%> <%=cartoon.rating.value.to_s%></li>
                  <li><%=image_tag(image_url('talk.png'))%> <%=cartoon.comments.size.to_s%></li>
                </ul>
              </div>
            </div>
            <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>