<div class="row">
  <div class="container">
    <div class="catalog">
      <h2><%=@category.name%></h2>
      <div class="items col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%@cartoons.each do |cartoon|%>
            <%=link_to category_cartoon_path(@category,cartoon) do%>
                <div class="item" style="background-image: url(<%=image_url(cartoon.preview)%>);">
                  <div class="info">
                    <p><%=cartoon.title%></p>
                    <ul>
                      <li><%=cartoon.views%></li>
                      <li><%=cartoon.rating%></li>
                      <li><%=cartoon.comments.size%></li>
                    </ul>
                  </div>
                </div>
            <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
