<div class="row">
  <div class="container">
    <div class="catalog">
      <h2><%=@cartoon.title%></h2>
      <div class="col-lg-10 col-lg-offset-1 video">
        <div class="panel">
          <div class="views">Просмотры: <%=@cartoon.views%></div>
          <%=number_with_precision(@rating.value,precision: 1)%>
          <div class="rating">
            <%= render 'five_stars'%>
          </div>
        </div>
      </div>
      <div class="description col-lg-8">
        <p>
          <%=@cartoon.description%>
        </p>
        <div class="col-lg-12 comments">
          <%= render 'cartoons/comments'%>
        </div>
      </div>
      <div class="playlist col-lg-4">
        <ul>
          <a href=""><li><div class="playFromList"><div class="btnPlay"></div></div><span>Название</span></li></a>
          <a href=""><li><div class="playFromList"><div class="btnPlay"></div></div><span>Название</span></li></a>
          <a href=""><li><div class="playFromList"><div class="btnPlay"></div></div><span>Название</span></li></a>
          <a href=""><li><div class="playFromList"><div class="btnPlay"></div></div><span>Название</span></li></a>
        </ul>
      </div>
    </div>
  </div>
</div>