<div class="row">
  <div class="container">
    <div class="catalog">
      <h2><%=@category.name%></h2>
      <div class="items col-lg-12">
        <%@categories.each do |subcategory|%>
            <%if subcategory.cartoons.any?%>
              <%=link_to cartoons_path(subcategory.category_url_name) do%>
                  <div class="item">
                    <div class="info">
                      <p><%=subcategory.name%></p>
                    </div>
                  </div>
              <%end%>
            <%else%>
                <%=link_to categories_path(subcategory.category_url_name) do%>
                    <div class="item" >
                      <div class="info">
                        <p><%=subcategory.name%></p>
                      </div>
                    </div>
                <%end%>
            <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
