<div class="row nav-main">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img>
      </a>
    </div>
    <div class="menu">
      <ul>
        <%=link_to root_path  do%>
            <li>
              Главная
            </li>
        <%end%>
        <%=link_to cartoons_path(@cartoon_cat.category_url_name) do%>
            <li><%=@cartoon_cat.name%></li>
        <%end%>
        <%=link_to categories_path(@animated_cat.category_url_name) do%>
            <li><%=@animated_cat.name%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>